.container{
    width: 600px;
    height: 300px;
    background-color: azure;
    border: 2px solid black;
    display: grid;

    grid-template-rows: repeat(3,1fr); /*3 rows of equal thickness*/
    grid-template-columns: repeat(4,1fr); /*4 cols of equal thickness*/

    grid-gap: 10px;
}

.item{
    width: 100px;
    height: 50px;   /*there space is reserved*/
    
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

#one{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/3; */
    grid-column: 1/span 2;
}

#two{ /*more prioriety(cascading)*/
    grid-row: 1/span 2;
}