.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
}

.one{
    background-color: aqua;
    position: relative; /*z-idx applicable*/
    z-index: 2; /*bigger so outside*/
}

.two{
    background-color: blueviolet;
    position: relative;
    bottom: 50px;
    z-index: 1; 
}