.container{
    width: 600px;
    height: 300px;
    background-color: azure;
    border: 2px solid black;
    /*d-inline*/
    display: inline-grid;

    grid-template-rows: repeat(3,1fr); /*3 rows of equal thickness*/
    grid-template-columns: repeat(4,1fr); /*4 cols of equal thickness*/

    grid-gap: 10px;

    /*a-justify*/
    justify-items: center;
    
}

.item{
    width: 100px;
    height: 50px;   /*there space is reserved*/
    
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

#one{
    justify-self: end;
}

#two{
    /*b-align*/
    align-self: end;
}
