.container{
    width: 600px;
    height: 300px;
    background-color: azure;
    border: 2px solid black;
    display: grid;

    /*topic 3 eg-c*/
    grid-template-rows: 100px 100px 100px; 
    grid-template-columns: auto auto auto; /*3 col of equal thickness*/
}

.item{
    /* width: 100px;
    height: 50px; */   
    /*means occupy whole grid cell*/
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}