.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    animation: wwe 2s ease-in 0s 3 normal;
}

@keyframes wwe {
    0%{
        font-size: 20px;
        background-color: pink;
    }
    50%{
        font-size: 40px;
        background-color: aqua;
        border-radius: 15px;
    }
    100%{
        font-size: 60px;
        background-color: red;
        border-radius: 30px;
    }
}

